:root {
    --primary-color: #FFFFFF;
    --primary-color-text: #434455;
    --accent-text-color: #4D5AE5;
    --second-background-title: #2E2F42;
    --active-color: #404BBF;
    --additional-color:#F4F4FD;
    --border-color-header: #E7E9FC;
}

/* глобальные стили */
body {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

/* правила для сброса св-в, заданных по умолчанию */
.reset {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* класс для скрытия заголовков, которые введены для семантики */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

/* размеры контейнеров */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid teal;
}

/*! стили navigation */
.menu {
    display: flex;
    padding: 24px 0px;
    align-items: center;
    flex-basis: calc(100% / 2);
    outline: 1px solid teal;
}

.menu > .list-contacts {
    margin-left: auto;
    outline: 1px solid teal;
}

.list-contacts {
    display: flex;
    justify-content: end;
    flex-basis: calc(100% / 2 );
    outline: 1px solid teal;
}

.list-contacts > li:last-child {
    margin-left: 40px;
    outline: 1px solid teal;
}

.list-nav {
    display: flex;
    flex-basis: calc(100% / 2 );
    outline: 1px solid teal;
}

.list-nav > ul {
    margin-left: 76px;
    outline: 1px solid teal;
}

.nav-pages {
    display: flex;
    flex-basis: calc( 100% / 3 );
    outline: 1px solid teal;
}

.nav-pages > li:not(:first-child) {
    margin-left: 40px;
    outline: 1px solid teal;
}

header {
    border-bottom: 1px solid var(--border-color-header); 
}

.logo {
    color: var(--accent-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo .nav-span {
    color: var(--second-background-title);
}

.site-nav {
    color: var(--second-background-title);
    font-weight: 500;
}
.site-nav:hover,
.site-nav:focus {
    color: var(--accent-text-color);
}

.contacts {
    color: var(--primary-color-text);
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-text-color);
}


/*! Studio */
/* стили hero */
.hero {
    background-color: var(--second-background-title);
}

.hero-content {
    padding-top: 188px;
    padding-bottom: 188px; 
    text-align: center;
    outline: 1px solid teal;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 48px;
    width: 496px;
    color: var(--primary-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;  
    outline: 1px solid teal;
}

.hero-button {
    display: inline-block;
    color: var(--primary-color);
    background-color: var(--accent-text-color);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    line-height: 128%;
    outline: 1px solid teal;
    /* почему высота кнопки 52.48, а в макете 56? */
}
.hero-button:hover,
.hero-button:focus {
    background-color:var(--active-color);
}

/* cтили section */
.sectionOne-title,
.sectionTwo-title,
.sectionTeam-title {
    color: var(--second-background-title);
}

.hero,
.sectionOne,
.sectionTwo {
    margin-bottom: 120px;
}

.sectionOne-title,
.sectionTeam-name {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.list-solutions {
    display: flex;
    flex-basis: calc(100% / 4);
    outline: 1px solid teal;
}

.list-solutions > li:not(:first-child) {
    margin-left: 24px;
    outline: 1px solid teal;
}

.sectionTwo-title {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
}

.list-img {
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: space-between;
    outline: 1px solid teal;
}

.list-img > li {
    outline: 1px solid teal;
}

.sectionTeam {
    text-align: center;
    padding-bottom: 120px;
    background-color: var(--additional-color);
}

.card-team {
    display: inline-block;
    text-align: center;
    outline: 1px solid teal;
}
.card-team * {
    outline: 1px solid teal;
}
.card-content {
    padding: 32px 16px;
}
.sectionTeam-title {
    padding-top: 120px;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}

.list-team {
    display: flex;
    flex-basis: calc(100% / 4 );
    outline: 1px solid teal;
}

.list-team > li:not(:first-child) {
    margin-left: 24px;
    outline: 1px solid teal;
}

/*! Portfolio */
/* стили filters */

.list-button {
    display: flex;
    flex-basis: calc(100% / 5 );
    justify-content: center;
    outline: 1px solid teal;
    margin-bottom: 72px;
}

.list-button > li:not(:first-child) {
    margin-left: 24px;
}

.btn-filters {
    padding: 12px 24px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    border:none;
}

.btn-filters {
    background-color: var(--additional-color);
    color: var(--accent-text-color); 
}
.btn-filters:hover,
.btn-filters:focus {
    cursor: pointer;
    background-color: var(--active-color);
    color: var(--primary-color);
}

/* стили списка картинок */
.card-portfolio {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 54px;
    outline: 1px solid var(--accent-text-color);
}

.pictures-title {
    color: var(--second-background-title);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.pictures-text {
    color: var(--primary-color-text);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.card:hover,
.card:focus {
    outline: 1px solid var(--accent-text-color);
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.card {
    /* border-right: 1px solid var(--border-color-header); 
    border-left: 1px solid var(--border-color-header); */
    border-bottom: 1px solid var(--border-color-header);
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 );
    margin-left: -24px;
    margin-top: -48px;
    outline: 1px solid teal;
}

.list-card > li {
    margin-left: 24px;
    margin-top: 48px;
}

/*! cтили footer */
.footer {
    background-color: var(--second-background-title);
}

.logo .footer-span {
    color: var(--additional-color);
}

.footer p {
    color: var(--border-color-header);
}

.footer-container {
    width: 264px;
    margin-left: 156px;
    padding-top: 100px;
    padding-bottom: 100px;
    outline: 1px solid teal;
}

.footer-container a {
    display: inline-block;
    margin-bottom: 16px;
}